### Importing necessary packages

In [ ]:
pip install dash

In [1]:
import dash
from dash import dcc as dcc
from dash import html as html 
import plotly.express as px

### Importing dataset

In [2]:
df = px.data.tips()
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

### Creating the web app/dash board

creating an instance Dash( and assign it to a global variable)

In [3]:
app = dash.Dash(__name__)

#### Importing the facility to create the dynamism on the web app/dashboard

In [4]:
from dash.dependencies import Input,Output

In [5]:
#Creating the layout of the app

app.layout = html.Div([
    
#Title of the app
    
    html.H1("My Dash App"),
    html.P("Welcome"),
    
#Initialing the graph from dash core components
    
    dcc.Graph(id="graph"),
    
#Initialing the dropdown to create the interactivity
    
    html.Label([
        "colorscale",
        dcc.Dropdown(
            id = "colorscale-dropdown",
            clearable=False,
            value="plasma",
            options = [
                 {"label": color, "value": color}
                 for color in px.colors.named_colorscales()
            ])
      ])
])

In [ ]:
#Setting the interactions 
@app.callback(
    Output("graph","figure"),
    [Input("colorscale-dropdown","value")]
)

#Update the graph created above with the relevant data
def update_figure(colorscale):
    return px.scatter(
        df,
        x = "total_bill",
        y = "tip",
        color = "size",
        color_continuous_scale=colorscale,
        render_mode="webg1",
        title = "Y vs X"
    )

#Running the app on the server
if __name__ == '__main__':
    app.run_server()

Output: Dash is running on http://***.*.*.*:****/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off